<div class="print-page" id="print-page">
    <div class="print-header">
        <div class="biller-info">
            <h3>H.M. TRADING</h3>
            House No. 1, Behind Petrol Pump, Kandri- 441401<br>
            Pro: Pramod Ingole<br>
            Office: 8806091880, 9960566547 <br>
            Email: contact@hmtrading.biz<br>
            www.hmtrading.biz
        </div>
        <div class="header-trapezoid text-center" style="float:right">
            <h1>INVOICE</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice to:</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3" >
            <div *ngIf="isAgentPrint">
                <b>Id: {{agent.customer_id}}</b><br>
                <b>{{agent.name}}</b> <br>
                {{agent.address}}, <br>
                Phone: {{agent.mobile_number}} <br>
                {{agent.email ? 'Email: '+agent.email : ''}}
                <!-- <b>Total Customers : {{count}}</b> -->
            </div>
            <div *ngIf="!isAgentPrint">
                <b>Id: {{customer.customer_id}}</b><br>
                <b>{{customer.name}}</b> <br>
                {{customer.address}}, <br>
                Phone: {{customer.mobile_number}} <br>
                {{customer.email ? 'Email: '+customer.email : ''}}
                <b>Agent : {{agent ? agent.name : ''}}</b>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice #</strong><br>
            <strong>Date</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            {{receiptNo}}<br>
            {{billingDate}}<br/><br>
            <strong><span *ngIf="isAgentPrint">AGENT</span><span *ngIf="!isAgentPrint">CUSTOMER</span> COPY</strong>
        </div>
    </div>
    <br>
    <div id="installment_table">
        <table class="table table-bordered table-hover table-striped" >
            <tr>
                <th>#</th>
                <th>Card</th>
                <th>Name</th>
                <th [hidden]="isAgentPrint">Agent</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Item</th>
                <th class="hmtrading-text-right">Total</th>
                <th class="hmtrading-text-right">Balance</th>
            </tr>
            <tr *ngFor="let customer of customers; let index = index;">
                <td>{{index+1}}</td>
                <td>{{customer.card_number}}</td>
                <td><p [class]="customer.is_agent_too == 1 ? 'is-agent' : 'not-agent'">{{customer.name}}</p></td>
                <td [hidden]="isAgentPrint">{{customer.agent ? customer.agent.name : ''}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.mobile_number}}</td>
                <!-- <td>{{customer.email}}</td> -->
                <td>{{customer.item ? customer.item.name : ''}}</td>
                <td align="right">{{customer.total ? '&#8377; ' +customer.total : ''}}</td>
                <td align="right">{{customer.balance ? '&#8377; ' +customer.balance : ''}}</td>
            </tr>
            <tr>
                <td colspan="isAgentPrint ? 5 : 6" align="right"><b><h4>{{totalInWords}}</h4></b></td>
                <td align="right"><h4>&#8377;{{totalPaid | number : '1.2-2'}}</h4></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 text-right">
            <br><br>RECIPIENT SIGNATURE -----------------------------<br><br>
        </div>
    </div>
    <br>
    <div class="print-footer">
        <div class="print-terms" align="right">
        <small><b>Terms & Condititions</b><br>Late installment payment may impose the fine amount of Rs.5/- for each month.</small>
        </div>
        <div class="footer-trapezoid text-center" align="center" style="float:right">
            <p>Thank you for your business</p>
        </div>
    </div>
</div>
