<div class="print-page" id="print-page">
    <print-header></print-header><br>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice to:</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3" >
            <!-- <div *ngIf="isAgentPrint">
                <b>Id: {{agent.customer_id}}</b><br>
                <b>{{agent.name}}</b> <br>
                {{agent.address}}, <br>
                Phone: {{agent.mobile_number}} <br>
                {{agent.email ? 'Email: '+agent.email : ''}}
                <b>Total Customers : {{count}}</b>
            </div> -->
            <div>
                <b>Id: {{customer.customer_id}}</b><br>
                <b>{{customer.name}}</b> <br>
                {{customer.address}}, <br>
                Phone: {{customer.mobile_number}} <br>
                {{customer.email ? 'Email: '+customer.email : ''}}
                <!-- <b>Agent : {{agent ? agent.name : ''}}</b> -->
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice #</strong><br>
            <strong>Date</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            {{receiptNo}}<br>
            {{billingDate}}<br/><br>
            <strong><span *ngIf="isAgentPrint">AGENT</span><span *ngIf="!isAgentPrint">CUSTOMER</span> COPY</strong>
        </div>
    </div>
    <br>

    <div id="installment_table">
        <table class="table table-bordered table-hover table-sm table-striped" >
            <tr >
                <th>Date</th>
                <th>Type</th>
                <th class="hmtrading-text-right">Previous Balance</th>
                <th class="hmtrading-text-right">Amount Paid</th>
                <th class="hmtrading-text-right">Interest Paid</th>
                <th class="hmtrading-text-right">Fine Paid</th>
                <th class="hmtrading-text-right">Balance</th>
                <th class="hmtrading-text-right">Total</th>
            </tr>
            <!-- *ngFor="let inst of paidInstallments" -->
            <tr >
                <td>
                    <!-- {{inst.created_date | date: 'dd MMM, yyyy'}} -->
                    {{_appService.GetWordFormattedDate(inst.created_date)}}
                </td>
                <td>{{inst.type}}</td>
                <td align="right">&#8377;{{inst.previous_balance | number : '1.2-2'}}</td>
                <td align="right">&#8377;{{inst.amount | number : '1.2-2'}}</td>
                <td align="right">&#8377;{{inst.interest_paid | number : '1.2-2'}}</td>
                <td align="right">&#8377;{{inst.fine_paid | number : '1.2-2'}}</td>
                <td align="right">&#8377;{{inst.balance | number : '1.2-2'}}</td>
                <td align="right">&#8377;{{inst.total | number : '1.2-2'}}</td>
            </tr>
            <tr>
                <td colspan="7" align="right"><b><h4>{{totalInWords}}</h4></b></td>
                <td align="right"><h4>&#8377;{{totalPaid | number : '1.2-2'}}</h4></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 text-right">
            <br><br>RECIPIENT SIGNATURE -----------------------------<br><br>
        </div>
    </div>
    <br>
    <print-footer></print-footer>
</div>
