<div class="print-page" id="print-page">
    <print-header></print-header><br>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice to:</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3" >
            <!-- <div *ngIf="isAgentPrint">
                <b>Id: {{agent.customer_id}}</b><br>
                <b>{{agent.name}}</b> <br>
                {{agent.address}}, <br>
                Phone: {{agent.mobile_number}} <br>
                {{agent.email ? 'Email: '+agent.email : ''}}
                <b>Total Customers : {{count}}</b>
            </div> -->
            <div>
                <b>Id: {{customer.customer_id}}</b><br>
                <b>{{customer.name}}</b> <br>
                {{customer.address}}, <br>
                Phone: {{customer.mobile_number}} <br>
                {{customer.email ? 'Email: '+customer.email : ''}}
                <!-- <b>Agent : {{agent ? agent.name : ''}}</b> -->
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice #</strong><br>
            <strong>Date</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            {{receiptNo}}<br>
            {{billingDate}}<br/><br>
            <!-- <strong><span *ngIf="isAgentPrint">AGENT</span><span *ngIf="!isAgentPrint">CUSTOMER</span> COPY</strong> -->
            <strong>CUSTOMER COPY</strong>
        </div>
    </div>
    <br>
    <div id="installment_table">
        <table class="table table-bordered table-sm table-striped">
            <tr>
                <th>SL</th>
                <th>MONTH</th>
                <th>PAID DATE</th>
                <th class="hmtrading-text-right">AMOUNT</th>
                <th class="hmtrading-text-right">FINE</th>
                <th class="hmtrading-text-right">TOTAL</th>
            </tr>

            <tr *ngFor="let inst of paidInstallments; let index = index;">
                <td>{{index+1}}</td>
                <td>{{inst.month}}</td>
                <td>{{inst.paymentDate}}</td>
                <td align="right">₹ {{inst.amount}}</td>
                <td align="right">₹ {{inst.paid_fine}}</td>
                <td align="right">₹ {{inst.total}}</td>
            </tr>
            <tr>
                <td colspan="5" align="right"><b><h4>{{totalInWords}}</h4></b></td>
                <td align="right"><h4>&#8377;{{total | number : '1.2-2'}}</h4></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 text-right">
            <br><br>RECIPIENT SIGNATURE -----------------------------<br><br>
        </div>
    </div>
    <br>
    <print-footer></print-footer>
</div>
