<div class="container-fluid">
    <div class="row">

        <!-- DRAW DASHBOARD -->
        <!-- <div class="col col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngIf="_appService.isDrawDashboard">
            <div class="card mb-3 home-card" >
                <div class="card-header">
                    <div class="page-header-message">
                        <span *ngIf="loading">Loading..</span><span *ngIf="!loading">Item Distribution</span>
                    </div>
                </div>
                <div class="card-body" style="padding: 0px;" *ngIf="distribution && distribution.length">
                    <table class="table table-hover table-bordered table-sm table-striped">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="hmtrading-text-center">Count</th>
                        </tr>

                        <tr *ngFor="let record of distribution; let index = index;">
                            <td>{{index + 1}}</td>
                            <td>{{record.item.name}}</td>
                            <td>{{record.item.description}}</td>
                            <td class="text-center">{{record.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->


        <!-- DRAW DASHBOARD -->
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="_appService.isDrawDashboard">
            <div class="row ">
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white bg-info text-center mb-3 home-card" (click)="navigate('agents')">
                        <div class="card-body">
                            <h1>{{dashboard.draw_agent}}</h1>
                        </div>
                        <div class="card-footer"><b>AGENTS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white bg-danger text-center mb-3 home-card" (click)="navigate('customers')">
                        <div class="card-body">
                            <h1>{{dashboard.draw_customer}}</h1>
                        </div>
                        <div class="card-footer"><b>FATAKA FUND CUSTOMERS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-success mb-3 home-card" (click)="navigate('payments')">
                        <div class="card-body">
                            <h1>{{dashboard.draw_transaction}}</h1>
                        </div>
                        <div class="card-footer"><b>FATAKA FUND INVOICES</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('items')">
                        <div class="card-body">
                            <h1>{{dashboard.draw_item}}</h1>
                        </div>
                        <div class="card-footer"><b>TOTAL ITEMS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('items')">
                        <div class="card-body">
                            <h1>{{distribution.regular_customer_distribution}}</h1>
                        </div>
                        <div class="card-footer"><b>ITEMS ASSIGNED</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('items')">
                        <div class="card-body">
                            <h1>{{distribution.lucky_customer_distribution}}</h1>
                        </div>
                        <div class="card-footer"><b>LUCKY CUTOMER ITEMS</b></div>
                    </div>
                </div>
            </div>
        </div>



        <!-- LOAN DASHBOARD -->
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!_appService.isDrawDashboard">
            <div class="row ">
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-warning mb-3 home-card" (click)="navigate('loan-customers/Saving')">
                        <div class="card-body">
                            <h1>{{dashboard.saving_account}}</h1>
                        </div>
                        <div class="card-footer"><b>SAVING ACCOUNTS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-success mb-3 home-card" (click)="navigate('loan-customers/Loan')">
                        <div class="card-body">
                            <h1>{{dashboard.loan_account}}</h1>
                        </div>
                        <div class="card-footer"><b>LOAN ACCOUNTS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('transactions/Loan')">
                        <div class="card-body">
                            <h1>{{dashboard.loan_transaction}}</h1>
                        </div>
                        <div class="card-footer"><b>LOAN TRANSACTIONS</b></div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-warning mb-3 home-card" (click)="navigate('transactions/Saving')">
                        <div class="card-body">
                            <h1 class="card-title">{{dashboard.saving_transaction}}</h1>
                        </div>
                        <div class="card-footer"><b>SAVING TRANSACTIONS</b></div>
                    </div>
                </div>



                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-success mb-3 home-card" (click)="navigate('transactions')">
                        <div class="card-body">
                            <h1 class="card-title">&#8377; {{statistics.totalLoanDisbursed | number}}</h1>
                        </div>
                        <div class="card-footer"><b>LOAN DISRBUSTMENT</b></div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-danger mb-3 home-card" (click)="navigate('transactions')">
                        <div class="card-body">
                            <h1 class="card-title">&#8377; {{statistics.totalSavingReceived | number}}</h1>
                        </div>
                        <div class="card-footer"><b>SAVING RECEIVED</b></div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-primary mb-3 home-card" (click)="navigate('transactions')">
                        <div class="card-body">
                            <h1 class="card-title">&#8377; {{statistics.totalInstallmentReceived | number}}</h1>
                        </div>
                        <div class="card-footer"><b>LOAN INSTALLMENT RECEIVED</b></div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-primary mb-3 home-card" (click)="navigate('transactions')">
                        <div class="card-body">
                            <h1 class="card-title">&#8377; {{statistics.totalInterestPaid | number}}</h1>
                        </div>
                        <div class="card-footer"><b>LOAN INTEREST RECEIVED</b></div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-danger mb-3 home-card" (click)="navigate('loan-pending-installments/Loan')">
                        <div class="card-body">
                            <h1 class="card-title">{{pendingLoanInstallments | number}}</h1>
                        </div>
                        <div class="card-footer"><b>PENDING LOAN INSTALLMENTS</b></div>
                    </div>
                </div>

                <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-danger mb-3 home-card" (click)="navigate('loan-pending-installments/Saving')">
                        <div class="card-body">
                            <h1 class="card-title">{{pendingSavingInstallments | number}}</h1>
                        </div>
                        <div class="card-footer"><b>PENDING SAVING INSTALLMENTS</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
