<div class="container">
    <div class="row">
        <div class="col col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center mb-3 home-card" >
                <div class="card-header">Pending Loan Installments</div>
                <div class="card-body">
                    <img src="/assets/images/hmtrading.png" class="d-inline-block align-top" alt="">
                    <font class="hm-trading-message"><h1>Work under progress!</h1></font>
                </div>
            </div>
        </div>
        <div class="col col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="row ">
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card text-white text-center bg-primary mb-3 home-card" (click)="navigate('agents')">
                        <div class="card-body">
                            <h1>07</h1>
                        </div>
                        <div class="card-footer">Agents</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card text-white text-center bg-primary mb-3 home-card" (click)="navigate('customers')">
                        <div class="card-body">
                            <!-- <h2 class="card-title">59</!-->
                            <h1>59</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Customer</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-success mb-3 home-card" (click)="navigate('installments')">
                        <div class="card-body">
                            <!-- <h3 class="card-title">59</h3> -->
                            <h1>59</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Installments</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('billings')">
                        <div class="card-body">
                            <!-- <h5 class="card-title">27</h5> -->
                            <h1>27</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Invoices</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-warning mb-3 home-card" (click)="navigate('items')">
                        <!-- <div class="card-header">Items</div> -->
                        <div class="card-body">
                            <!-- <h5 class="card-title">23</h5> -->
                            <h1>23</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Items</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-success mb-3 home-card" (click)="navigate('loan-customers')">
                        <!-- <div class="card-header">Loan Customers</div> -->
                        <div class="card-body">
                            <!-- <h3 class="card-title">45</h3> -->
                            <h1>45</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Loan Customers</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-info mb-3 home-card" (click)="navigate('transactions')">
                        <!-- <div class="card-header">Loan Billings</div> -->
                        <div class="card-body">
                            <!-- <h5 class="card-title">167</h5> -->
                            <h1>167</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Loan Billings</div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card text-white text-center bg-warning mb-3 home-card" (click)="navigate('statistics')">
                        <!-- <div class="card-header">Loan Statistics</div> -->
                        <div class="card-body">
                            <h1 class="card-title">₹ 296,070</h1>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                        <div class="card-footer">Loan Statistics</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
