<div class="modal-header">
    <h4 class="modal-title">{{formdata.customer_id ? 'Edit': 'Add'}} Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="_activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && addCustomer()" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cardNumber.valid }">
                    <label for="cardNumber">Card</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></div>
                        <input type="text" class="form-control" name="cardNumber" [(ngModel)]="formdata.card_number" #cardNumber="ngModel" maxlength="10" required />
                    </div>
                    <div *ngIf="f.submitted && !cardNumber.valid" class="help-block">Card number is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                    <label for="name">Name</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <input type="text" class="form-control" name="name" [(ngModel)]="formdata.name" #name="ngModel" maxlength="50" required />
                    </div>
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                    <label for="address">Address</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
                        <input type="text" class="form-control" name="address" [(ngModel)]="formdata.address" #address="ngModel" maxlength="100" required />
                    </div>
                    <div *ngIf="f.submitted && !address.valid" class="help-block">Address is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!phone.valid || isPhoneInvalid)}">
                    <label for="phone">Phone</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                        <input type="tel" class="form-control" name="phone" [(ngModel)]="formdata.mobile_number" #phone="ngModel" maxlength="10" />
                    </div>
                    <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone is required</div>
                    <div *ngIf="f.submitted && isPhoneInvalid" class="help-block">Phone is invalid</div>
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
                    <label for="gender">Gender</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <select class="form-control" id="gender" name="gender" [(ngModel)]="formdata.gender" #gender="ngModel" required>
                            <option *ngFor="let item of genderList" value= {{item.id}}>
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="f.submitted && !gender.valid" class="help-block">Gender is required</div>
                </div>
            </div> -->

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!email.valid || isEmailInvalid) }">
                    <label for="name">Email</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input type="email" class="form-control" name="email" [(ngModel)]="formdata.email" #email="ngModel" />
                    </div>
                    <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                    <div *ngIf="f.submitted && isEmailInvalid" class="help-block">Email is invalid</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !agentName.valid }">
                    <label for="agentName">Agent</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <select class="form-control" name="agentName" [(ngModel)]="formdata.agent_id" #agentName="ngModel" >
                            <option *ngFor="let item of agents" value= {{item.customer_id}}>
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="f.submitted && !agentName.valid" class="help-block">Agent name is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !isAgentToo.valid }">
                    <label for="isAgentToo">Is agent too?</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                        <select class="form-control" id="isAgentToo" name="isAgentToo" [(ngModel)]="formdata.is_agent_too" #isAgentToo="ngModel" required>
                            <option *ngFor="let item of statuses" value= {{item.id}}>
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="f.submitted && !isAgentToo.valid" class="help-block">Is agent too is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !item.valid }">
                    <label for="item">Item</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><span class="glyphicon glyphicon-list"></span></div>
                        <select class="form-control" id="item" name="item" [(ngModel)]="formdata.item_id" #item="ngModel" required>
                            <option *ngFor="let item of items" value= {{item.item_id}}>
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="f.submitted && !item.valid" class="help-block">Item is required</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!downPayment.valid || isPriceInvalid) }">
                    <label for="downPayment">First Payment</label>
                    <div class="input-group" >
                        <div class="input-group-addon">
                          <!-- <b>&#x20B9;</b> -->
                        </div>
                        <input type="number" class="form-control" name="downPayment" [(ngModel)]="formdata.down_payment" #downPayment="ngModel" />
                    </div>
                    <div *ngIf="f.submitted && !downPayment.valid" class="help-block">First payment is required</div>
                    <div *ngIf="f.submitted && isPriceInvalid" class="help-block">Please enter first payment in numbers only</div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <button type="button" class="btn btn-warning form-control" (click)="f.form.reset()"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="_activeModal.close('Close click')">Close</button>
</div> -->

<!-- Loader -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop : true }"></ngx-loading>
