<div class="print-page" id="print-page">
    <print-header></print-header><br>
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <strong>Invoice to:</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <b>{{agent.name}}</b> <br>
            {{agent.address}}, <br>
            Phone: {{agent.mobile_number}}
            {{agent.email ? 'Email: '+agent.email : ''}}
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <!-- <strong>Invoice #</strong><br> -->
            <strong>Date</strong>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <!-- {{receiptNo}} -->
            {{billingDate}}<br>
            <strong>AGENT COPY</strong>
        </div>
    </div>
    <br>
    <div id="installment_table">
        <table class="table table-bordered table-hover table-sm table-striped">
            <tr>
                <th>#</th>
                <th>Card</th>
                <th>Customer</th>
                <!-- <th *ngIf="!showingForAgent" [hidden]="printing">Mobile </th> -->
                <th>Item</th>

                <th class="hmtrading-text-center">Dec</th>
                <th class="hmtrading-text-center">Jan</th>
                <th class="hmtrading-text-center">Feb</th>
                <th class="hmtrading-text-center">Mar</th>
                <th class="hmtrading-text-center">Apr</th>
                <th class="hmtrading-text-center">May</th>
                <th class="hmtrading-text-center">Jun</th>
                <th class="hmtrading-text-center">Jul</th>
                <th class="hmtrading-text-center">Aug</th>
                <th class="hmtrading-text-center">Sep</th>
                <th class="hmtrading-text-center">Oct</th>

                <th class="hmtrading-text-right">Total</th>
                <!-- <th class="hmtrading-text-right">Balance</th> -->
            </tr>

            <tr *ngFor="let inst of paidInstallments; let index = index;">
                <td>{{index+1}}</td>
                <td>{{inst.card_number}}</td>
                <td>{{inst.name}}</td>

                <!-- <td *ngIf="!showingForAgent" [hidden]="printing">{{inst.mobile_number}}</td> -->
                <td>{{inst.item ? inst.item.name : ''}}</td>

                <td align="center">
                    {{inst.installment[0] && inst.installment[0].amount ? (inst.installment[0].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[1] && inst.installment[1].amount ? (inst.installment[1].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[2] && inst.installment[2].amount ? (inst.installment[2].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[3] && inst.installment[3].amount ? (inst.installment[3].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[4] && inst.installment[4].amount ? (inst.installment[4].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[5] && inst.installment[5].amount ? (inst.installment[5].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[6] && inst.installment[6].amount ? (inst.installment[6].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[7] && inst.installment[7].amount ? (inst.installment[7].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[8] && inst.installment[8].amount ? (inst.installment[8].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[9] && inst.installment[9].amount ? (inst.installment[9].amount | number) : ''}}
                </td>
                <td align="center">
                    {{inst.installment[10] && inst.installment[10].amount ? (inst.installment[10].amount | number) : ''}}
                </td>
                <td align="right"> {{inst.total ? (inst.total | number) : ''}}</td>
                <!-- <td align="right"> {{inst.balance ? (inst.balance | number) : ''}}</td> -->
            </tr>
            <tr>
                <td colspan="15" align="right"><b>
                        <h4>{{totalInWords}}</h4>
                    </b></td>
                <td align="right">
                    <h4>&#8377;{{total | number : '1.2-2'}}</h4>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 text-right">
            <br><br>RECIPIENT SIGNATURE -----------------------------<br><br>
        </div>
    </div>
    <br>
    <print-footer></print-footer>
</div>
