<div class="container">
    <div class="card card-default bg-dark">
        <div class="card-body text-white" style="padding-bottom: 5px;">
            <div class="card-title">Showing installment history for customer <b>{{customer.name}}</b></div>
        </div>
    </div>

    <br>

    <div *ngFor="let account of accounts">
        <div class="card card-default">
            <!-- Default card contents -->
            <div class="card-header">
                <div class="row">
                    <div class="col col-lg-8 col-md-8">
                        <button class="btn btn-sm btn-info" disabled *ngIf="account.account.type == 'Saving'">{{account.account.type}}</button>
                        <button class="btn btn-sm btn-warning" disabled *ngIf="account.account.type == 'Loan'">{{account.account.type}}</button>
                        <button class="btn btn-sm btn-secondary" disabled>&#8377; {{account.account.amount | number : '1.2-2'}}</button>
                        <button class="btn btn-sm btn-secondary" disabled>&#8377; {{account.account.interest_fine | number : '1.2-2'}}</button>
                        <button class="btn btn-sm btn-secondary" disabled>{{account.account.created_date | date: 'dd MMM, yyyy'}}</button>
                    </div>
                    <div class="col col-lg-4 col-md-4" align="right">
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addInstallmentModal" (click)="calculateEMI(account)"> Add Installment</button>
                        <span *ngIf="customer"><button class="btn btn-sm btn-secondary" (click)="print(account.account.account_id)"> Print</button></span>
                    </div>
                </div>
            </div>
            <div class="card-body" [id]="account.account.account_id">
                <!-- Table -->
                <table class="table table-hover table-bordered table-sm table-striped" *ngIf="account.transactions && account.transactions.length">
                    <tr>
                        <th>#</th>
                        <!-- <th>Type</th> -->
                        <th>Previous Balance</th>
                        <th>Amount Paid</th>
                        <th>Interest Paid </th>
                        <th>Fine Paid</th>
                        <th>Total</th>
                        <th>Balance Amount</th>
                        <th>Paid On</th>
                        <!-- <th>Action</th> -->
                    </tr>
                    <tr *ngFor="let insta of account.transactions; let index = index;">
                        <td>{{index+1}}</td>
                        <!-- <td>{{insta.type}}</td> -->
                        <td>&#8377; {{insta.previous_balance | number : '1.2-2'}}</td>
                        <td>&#8377; {{insta.amount | number : '1.2-2'}}</td>
                        <td>&#8377; {{insta.interest_paid | number : '1.2-2'}}</td>
                        <td>&#8377; {{insta.fine_paid | number : '1.2-2'}}</td>
                        <td>&#8377; {{insta.total | number : '1.2-2'}}</td>
                        <td>&#8377; {{insta.balance | number : '1.2-2'}}</td>
                        <td>{{insta.created_date | date: 'dd MMM, yyyy'}}</td>
                        <!-- <td><a data-toggle="modal" data-target="#accountInfo" (click)="onIdClick(insta.account_id)">{{insta.account_id}}</a></td> -->
                        <!-- <td><button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#accountInfo" (click)="onIdClick(insta.account_id)" >Detail</button></td> -->
                    </tr>
                </table>


                <div class="alert alert-danger" role="alert" *ngIf="!account.transactions || !account.transactions.length">
                    <strong>No installment history found!</strong>
                </div>
            </div>

        </div>
        <br>
    </div>



    <!-- Add installment modal -->
    <div class="modal fade" id="addInstallmentModal" tabindex="-1" role="dialog"
        aria-labelledby="addInstallmentModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addInstallmentModalLabel">Add Installment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="type">Account</label>
                            <select class="form-control" id="type" name="type" [(ngModel)]="data.account_type"
                                #type="ngModel" required disabled>
                                <option value="Saving">Saving</option>
                                <option value="Loan">Loan</option>
                            </select>
                            <div *ngIf="f.submitted && !type.valid" class="help-block">Account is required</div>
                        </div>

                        <div class="form-group" *ngIf="data.account_type=='Loan'">
                            <label for="principal">Principal</label>
                            <input type="number" class="form-control" name="principal" [(ngModel)]="data.principal"
                                #principal="ngModel" disabled>
                            <!-- <div *ngIf="f.submitted && !principal.valid" class="help-block">Principal is required</div> -->
                        </div>

                        <div class="form-group" *ngIf="data.account_type=='Loan'">
                            <label for="interest">Interest</label>
                            <input type="number" class="form-control" name="interest" [(ngModel)]="data.interest"
                                #interest="ngModel" disabled>
                            <!-- <div *ngIf="f.submitted && !principal.valid" class="help-block">Principal is required</div> -->
                        </div>

                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" [(ngModel)]="data.amount"
                                #amount="ngModel" required>
                            <div *ngIf="f.submitted && !amount.valid" class="help-block">Amount is required</div>
                        </div>

                        <div class="form-group" *ngIf="data.account_type=='Loan'">
                            <label for="interest_paid">Interest Paid</label>
                            <input type="number" class="form-control" name="interest_paid"
                                [(ngModel)]="data.interest_paid" #interest_paid="ngModel" required>
                            <div *ngIf="f.submitted && !interest_paid.valid" class="help-block">Fine is required</div>
                        </div>

                        <div class="form-group">
                            <label for="fine">Fine</label>
                            <input type="number" class="form-control" name="fine" [(ngModel)]="data.fine_paid"
                                #fine="ngModel" required>
                            <div *ngIf="f.submitted && !fine.valid" class="help-block">Fine is required</div>
                        </div>

                        <hr>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                            (click)="addInstallment()">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      <!-- Loader -->
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px', fullScreenBackdrop : true }"></ngx-loading>
  </div>
